@import '~antd/dist/antd.css';
@import '~leaflet/dist/leaflet.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-table table {
  width: auto;
  min-width: unset !important;
}

#app {
  height: 100vh;
  width: 100vw;
  margin: 0;

}

.mosaic-split {
  background-color: rgb(116, 111, 111);
}
